if SHIELD_DOMESTOS_RIGHT

config ZMK_KEYBOARD_NAME
    default "domestos"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DOMESTOS_LEFT || SHIELD_DOMESTOS_RIGHT

config ZMK_SPLIT
    default y

endif
